<div id="app">

    <input type="text" v-bind:value=message>
    
    <p v-show="toggle">{{message}}</p>
    
    <ol>
        <li v-for="color in colors">{{color}}</li>
    </ol>

    <ul>
        <li v-for="value in user">{{value}}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="(value, key) in user">
            {{key}}:{{value}}
        </li>
    </ul>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script type="text/javascript" src="./test.js"></script>

